body {
	background-color: white;
	font-family: arial;
	font-size: 15px;
	color: #000;
}

#container {
	width: 800px;
	margin: 0 auto;
}

body {
	font-family: arial;
	font-size: 15px;
	color: #444;
}

nav {
	margin: 0px 0px 0px 0px;
}

#header {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-family: arial;
}

#body {
	font-family: arial;
	font-size: 15px;
	color: #444;
}

#body img {
	width: 800px;
}

h1 {
	color: #000;
	font-size: 40px;
}

h3 {
	color:#999;	
}

#footer {
	margin-top: 30px;
	text-align: center;
	padding-top: 10px;
	font-family: arial;
	font-size: 13px;
	color: #999999;
}

a:link {text-decoration: none; color: #c26335; font-size:14px;}
a:hover {text-decoration: none; color: #115c21; font-size:14px;}
a:visited {text-decoration: none; color: #c26335; font-size:14px;}
a:visited:hover {text-decoration: none; color: #115c21; font-size:14px;}
a:active {text-decoration: none; color: #c26335; font-size:14px;}
